@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage

<AuthorizeView>
    <Authorized>
        <div class="sidebar">
            <NavMenu />
        </div>
        <div class="main">            
            <div class="top-row px-4">
                @context.User.Identity.Name
                <a href="#" @onclick="logout">Logout</a>
                <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            </div>

            <div class="content px-4 main-background">
                @Body
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="main">
            <UnauthorizeAccessView />
        </div>
    </NotAuthorized>
</AuthorizeView>

@code {
    private void logout()
    {
        ((CustomAuthenticationStateProvider)AuthenticationStateProvider).MarkAsUnAuthorize();
        sessionStorage.RemoveItemAsync("username");
        NavigationManager.NavigateTo("/login");

    }
}
